In [1]:
!unzip renfe.csv.zip

Archive:  renfe.csv.zip
  inflating: renfe.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
 data = pd.read_csv("renfe.csv",index_col=0)

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [10]:
data.shape

(2579771, 9)

In [11]:
data.columns

Index(['insert_date', 'origin', 'destination', 'start_date', 'end_date',
       'train_type', 'price', 'train_class', 'fare'],
      dtype='object')

In [12]:
data.dtypes

insert_date     object
origin          object
destination     object
start_date      object
end_date        object
train_type      object
price          float64
train_class     object
fare            object
dtype: object

In [17]:
data[:10]

           insert_date  origin destination  ...  price train_class      fare
0  2019-04-19 05:31:43  MADRID     SEVILLA  ...  38.55     Turista     Promo
1  2019-04-19 05:31:43  MADRID     SEVILLA  ...  53.40     Turista     Promo
2  2019-04-19 05:31:43  MADRID     SEVILLA  ...  47.30     Turista     Promo
3  2019-04-19 05:31:43  MADRID     SEVILLA  ...  69.40  Preferente     Promo
4  2019-04-19 05:31:43  MADRID     SEVILLA  ...    NaN     Turista     Promo
5  2019-04-19 05:31:43  MADRID     SEVILLA  ...  60.30     Turista     Promo
6  2019-04-19 05:31:43  MADRID     SEVILLA  ...  62.20     Turista  Flexible
7  2019-04-19 05:31:43  MADRID     SEVILLA  ...  47.30     Turista     Promo
8  2019-04-19 05:31:43  MADRID     SEVILLA  ...  53.40     Turista     Promo
9  2019-04-19 05:31:43  MADRID     SEVILLA  ...    NaN     Turista     Promo

[10 rows x 9 columns]

In [14]:
data.isna().sum()

insert_date         0
origin              0
destination         0
start_date          0
end_date            0
train_type          0
price          310681
train_class      9664
fare             9664
dtype: int64

In [18]:
data.price.max(), data.price.min(), data.price.mean()

(214.2, 15.45, 63.38550341776677)

In [0]:
#Change these columns into datetime type.
dates = ["insert_date","start_date","end_date"]
for i in dates:
  data[i] = pd.to_datetime(data[i])

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2579771 entries, 0 to 2579770
Data columns (total 9 columns):
insert_date    datetime64[ns]
origin         object
destination    object
start_date     datetime64[ns]
end_date       datetime64[ns]
train_type     object
price          float64
train_class    object
fare           object
dtypes: datetime64[ns](3), float64(1), object(5)
memory usage: 196.8+ MB

In [29]:
data['train_class'].value_counts()

Turista               1950303
Preferente             256082
Turista Plus           192908
Turista con enlace     169549
Cama Turista             1051
Cama G. Clase             214
Name: train_class, dtype: int64

In [31]:
data['fare'].value_counts()

Promo                  1733423
Flexible                582743
Adulto ida              179844
Promo +                  73778
Individual-Flexible        214
Mesa                        99
Grupos Ida                   6
Name: fare, dtype: int64

In [0]:
#Fill the missing value in fare column be the mode value.
data['fare'].fillna(data['fare'].mode()[0],inplace=True)

In [37]:
data['fare'].value_counts()

Promo                  1743087
Flexible                582743
Adulto ida              179844
Promo +                  73778
Individual-Flexible        214
Mesa                        99
Grupos Ida                   6
Name: fare, dtype: int64

In [0]:
#Fill the train_class missing values with the mode value
data['train_class'].fillna(data['train_class'].mode()[0],inplace=True)

In [39]:
data['train_class'].value_counts()

Turista               1959967
Preferente             256082
Turista Plus           192908
Turista con enlace     169549
Cama Turista             1051
Cama G. Clase             214
Name: train_class, dtype: int64

In [0]:
#Fill the missing values in price column based on 'fare' column 
data.loc[data.price.isnull(), 'price'] = data.groupby(['fare']).price.transform('mean')

In [45]:
#Check for the missing values again.
data.isnull().sum()

insert_date    0
origin         0
destination    0
start_date     0
end_date       0
train_type     0
price          0
train_class    0
fare           0
dtype: int64

In [55]:
data.head()

          insert_date  origin destination  ...      price train_class   fare
0 2019-04-19 05:31:43  MADRID     SEVILLA  ...  38.550000     Turista  Promo
1 2019-04-19 05:31:43  MADRID     SEVILLA  ...  53.400000     Turista  Promo
2 2019-04-19 05:31:43  MADRID     SEVILLA  ...  47.300000     Turista  Promo
3 2019-04-19 05:31:43  MADRID     SEVILLA  ...  69.400000  Preferente  Promo
4 2019-04-19 05:31:43  MADRID     SEVILLA  ...  62.582549     Turista  Promo

[5 rows x 9 columns]